/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /* fonts */
  --font-text: "Ubuntu", sans-serif;
  /* Colors */
  --bg: #1a1e23;
  --brand-icon: #12f7d6;
  --white: #fff;
  --brand-icon-2: #98faec;
  --grey: #43454d;
  --bg-1: #292f36;
  --react: #28a9e0;
  --js: #e7a020;
  --css: #0c73b8;
  --active: #e54f26;
  /* --normal-font-size: 0.938rem; */
  --normal-font-size: 22px;

  /* --small-font-size: 0.813rem; */
  --small-font-size: 18px;

  /* --smaller-font-size: 0.75rem; */
  --smaller-font-size: 16px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*========== Responsive typography==========*/
@media screen and (max-width: 1024px) {
  :root {
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--brand-icon);
}

.white {
  color: white !important;
}

.active {
  color: var(--active) !important;
}

.header {
  height: 55px;
  width: 100%;
  padding: 5px;
  background-color: var(--bg);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  -webkit-box-shadow: 0 1px 1rem var(--bg-1);
  box-shadow: 0 1px 1rem var(--bg-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;

}

.header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header .logo pre {
  color: var(--brand-icon-2);
  font-size: 26px;
  margin-right: 12px;
}

.header .logo span {
  font-family: var(--font-text);
  color: white;
  font-size: 26px;
  font-weight: bolder;
  margin-right: 12px;
}

.header nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.menu-icon svg {
  fill: var(--brand-icon-2);
}


.menu-toggle {
  display: none;
  visibility: hidden;
}

.header nav a {
  font-family: var(--font-text);
  margin-right: 26px;
  font-size: var(--normal-font-size);
  text-transform: capitalize;
}

@media screen and (max-width: 520px) {
  .header nav {
    display: none;
  }

  .header .menu-toggle,
  .menu-icon {
    display: block;
    visibility: visible;
  }

  .header .logo pre {
    font-size: 14px;
    margin-right: 6px;
  }

  .header .logo span {
    font-size: 14px;
    font-weight: bolder;
    margin-right: 2px;
  }

  .menu-toggle {
    display: none;
    position: relative;
    top: 0px;
    height: 100vh;
    width: fit-content;
    padding-left: 10px;
    float: right;
    z-index: 99;
    transition: opacity 100s ease;
  }

  .menu-toggle.active {
    opacity: 1;
  }

  .menu-toggle li {
    line-height: 20px;
    padding: 4px;
    padding-right: 40px;
    margin-top: 16px;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--bg-1);
    box-shadow: 0 0.5rem 1rem var(--bg-1);

  }

  .menu-toggle a {
    font-family: var(--font-text);
    font-size: var(--normal-font-size);
    text-transform: capitalize;
  }

  .menu-icon .close {
    display: none;
  }
}

@media screen and (min-width: 521px) {

  .header .menu-icon {
    display: none;
    visibility: hidden;
  }
}